body {
  background: #2c3e50;
  color: black;
  font-family: verdana;
}
input, .modal {
  color: black;
}
table.dataTable tbody th, 
table.dataTable tbody td,
table.dataTable.display tbody td {
	color: black!important;
	}